name: Maven Build

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: write
  packages: read

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm'

      - name: Build with Maven
        run: |
          mvn clean install
          mvn -pl solutions blueprinter:blueprint@readme -DargLine="-Xss32m"

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update README.md
