name: Generate Next antlr4 based Solution

on: workflow_dispatch

jobs:
  run-blueprinter:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm'

      - name: Setup environment variables
        id: date
        run: |
          echo "AOC_SESSION_ID=${{ secrets.AOC_SESSION_ID }}" >> $GITHUB_ENV

      - uses: actions/checkout@v6
      - name: Commit generated solution
        run: |
          git config user.name 'Viinyard'
          git config user.email 'viinyard@users.noreply.github.com'
          mvn clean package -DskipTests
          mvn -pl solutions blueprinter:blueprint@next-solution
          git add -A
          git commit -am "Next solution"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.PAT }}
          commit-message: "Next solution"
          branch: "next-solution"
          title: "Next solution"
          body: "This pull request contains the generated solution for next solution."
          draft: true
          labels: "generated"
